<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Change Admin | Zappy Chat</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <link rel="stylesheet" href="/css/newAdmin.css">
    <body>
        <div class="admin-change-container">
            <div class="header">
                <div class="admin-icon">
                    <i class="fa-solid fa-crown"></i>
                </div>
                <h1 class="title">Admin Transfer</h1>
                <p class="subtitle">
                    You are currently the admin of this group. Transfer your admin privileges to another member.
                </p>
            </div>

            <div class="warning-notice">
                <i class="fa-solid fa-triangle-exclamation"></i>
                <div class="warning-text">
                    <strong>Important:</strong> Once you transfer admin privileges, you will automatically leave this group and won't be able to access it unless the new admin adds you back.
                </div>
            </div>

            <button class="select-admin-btn" id="selectAdmin">
                <i class="fa-solid fa-user-check"></i>
                Choose New Admin
            </button>

            <form action="/change-admin/<%= grpDetails._id %>" method="post" class="admin-form" id="adminForm">
                <h2 class="form-title">
                    <i class="fa-solid fa-users"></i>
                    Select New Administrator
                </h2>
                
                <div class="members-container">
                    <% otherMembers.forEach(member => { %>
                        <label class="member-option" for="user_<%= member %>">
                            <input type="radio" name="user" value="<%= member %>" id="user_<%= member %>">
                            <div class="member-avatar">
                                <%= member.charAt(0).toUpperCase() %>
                            </div>
                            <div class="member-info">
                                <div class="member-name"><%= member %></div>
                                <div class="member-role">Group Member</div>
                            </div>
                        </label>
                    <% }) %>
                </div>

                <div class="form-actions">
                    <button type="button" class="btn btn-outline" id="cancelBtn">
                        <i class="fa-solid fa-times"></i>
                        Cancel
                    </button>
                    <button type="submit" class="btn btn-danger" id="submitBtn" disabled>
                        <i class="fa-solid fa-crown"></i>
                        Transfer Admin & Leave
                    </button>
                </div>
            </form>
        </div>

        <script src="/js/admin.js"></script>
    </body>
</html>